body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

#message-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: .7em;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
    width: 800px;
    outline: 1px solid;
}


.row {
    display: flex;
    flex-shrink: 0;
    height: auto;
    width: 100%;
    /* outline: 1px solid; */
}

.bubble {

    /* resize: none; */
    height: auto;
    border-radius: 20px;
    padding: 10px;
    /* outline:4px solid green; */
}

.received-text {
    background-color: rgb(209, 207, 207);
}

.sent-text {
    margin-left: auto;
    /* margin-left:5px; */
    background-color: rgb(255, 204, 230);
}

.msg-div {
    max-width: 500px;
    word-wrap: break-word;
    white-space: pre-wrap;
    /* resize: none; */
    background-color: transparent;
    border: 0;
}

.time-container {
    color: rgb(88, 88, 88);
    text-align: right;
    font-size: 10px;
}

.username-bubble {
    /* outline:1px solid; */
    color: brown;
    width: 100%;
    font-size: 15px;
}

.date-bubble {
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    margin: auto;
    background-color: rgb(194, 255, 194);
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    /* outline: 1px solid red; */
}

#input-container {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 20px;
    width: 90%;
    resize: none;
}

#input-container:focus {
    outline-color: tomato;
}

/* reset css for button  */
button {
    margin: 0;
    padding: 0;
    border: 0;
}

#sendbtn {
    font-size: 30px;
    /* outline: 1px solid; */
    height: 25px;
    font-weight: 100;
    width: 50px;
    height: 100%;
    border-radius: 50%;
}

#sendbtn:hover {
    background-color: blanchedalmond;
}